In [7]:
# Задача - сгруппировать покемонов по виду и показать некоторые свойства, присущие этому виду
# Беру понятные показатели: средний рост, средний вес, средний показатель счастья и количество детей в виде

In [2]:
import pandas as pd
import numpy as np
pokemon = pd.read_csv('pokemon.csv')

In [3]:
# Смотрю, что вообще за набор я получил

pokemon.head()

,id,identifier,name,name_phonetic,species,name_jp,name_jp_romaji,species_jp,generation_id,ndex,...,exp_yield,base_happiness,egg_group1_id,egg_group2_id,is_baby,baby_breed_item_id,hatch_counter,lvl_100_exp,pokemon_order,legacy_id
0,1,bulbasaur,Bulbasaur,Bulbasaur,Seed,フシギダネ,Fushigidane,たね,1,1,...,64,70,1,7.0,0,NaN,20,1059860,1,1.0
1,2,ivysaur,Ivysaur,Ivysaur,Seed,フシギソウ,Fushigisou,たね,1,2,...,141,70,1,7.0,0,NaN,20,1059860,2,2.0
2,3,venusaur,Venusaur,Veenasore,Seed,フシギバナ,Fushigibana,たね,1,3,...,208,70,1,7.0,0,NaN,20,1059860,3,3.0
3,4,charmander,Charmander,Char-mander,Lizard,ヒトカゲ,Hitokage,とかげ,1,4,...,65,70,1,14.0,0,NaN,20,1059860,4,4.0
4,5,charmeleon,Charmeleon,Char-meeleon,Flame,リザード,Lizardo,かえん,1,5,...,142,70,1,14.0,0,NaN,20,1059860,5,5.0

In [4]:
# Чтобы было понятнее -- какие есть колонки

pokemon.columns

Index(['id', 'identifier', 'name', 'name_phonetic', 'species', 'name_jp',
       'name_jp_romaji', 'species_jp', 'generation_id', 'ndex', 'kdex', 'jdex',
       'jdex_old', 'hdex', 'sdex', 'udex', 'type1_id', 'type2_id',
       'ability1_id', 'ability2_id', 'abilitydream_id',
       'evolution_parent_pokemon_id', 'evolution_method_id',
       'evolution_parameter', 'height', 'weight', 'gender_rate', 'catch_rate',
       'exp_yield', 'base_happiness', 'egg_group1_id', 'egg_group2_id',
       'is_baby', 'baby_breed_item_id', 'hatch_counter', 'lvl_100_exp',
       'pokemon_order', 'legacy_id'],
      dtype='object')

In [5]:
# Получаю и очищаю от повторов виды

species = pokemon['species']
species = species.drop_duplicates()
species = species.reset_index(drop=True)
species

0               Seed
1             Lizard
2              Flame
3        Tiny Turtle
4             Turtle
5          Shellfish
6               Worm
7             Cocoon
8          Butterfly
9          Hairy Bug
10        Poison Bee
11         Tiny Bird
12              Bird
13             Mouse
14              Beak
15             Snake
16             Cobra
17        Poison Pin
18             Drill
19             Fairy
20               Fox
21           Balloon
22               Bat
23              Weed
24            Flower
25          Mushroom
26            Insect
27       Poison Moth
28              Mole
29       Scratch Cat
           ...
445         Freezing
446    Crystallizing
447            Snail
448        Shell Out
449             Trap
450     Martial Arts
451        Automaton
452      Sharp Blade
453      Sword Blade
454     Bash Buffalo
455           Eaglet
456          Valiant
457         Diapered
458     Bone Vulture
459         Anteater
460         Iron Ant
461            Irate
462            Torch
463        Iron Will
464           Cavern
465        Grassland
466          Cyclone
467      Bolt Strike
468       Vast White
469       Deep Black
470        Abundance
471         Boundary
472             Colt
473           Melody
474        Paleozoic
Name: species, dtype: object

In [6]:
groups = {}

flag = 0
for i in range (0, species.size):
    groups[i] = pokemon.loc[pokemon['species'] == species[i]]
    groups[i] = groups[i].reset_index(drop=True)

    base_happiness = 0;
    babies = 0;
    height = 0;
    weight = 0;
    

    for j in range (0, groups[i]['id'].count()):
        if groups[i].loc[j]['is_baby']:
            babies = babies  + 1
        height = height + groups[i].loc[j]['height']
        weight = weight + groups[i].loc[j]['weight']
        base_happiness = base_happiness + groups[i].loc[j]['base_happiness']
        
    height = height/groups[i]['id'].count()
    weight = weight/groups[i]['id'].count()
    base_happiness = base_happiness/groups[i]['id'].count()
    tmp = [[species[i], height, weight, base_happiness, babies]]
    if flag == 0:
        arInfo = tmp
        flag = 1
    else:    
        arInfo = np.concatenate((arInfo, tmp))
        
info = pd.DataFrame(arInfo, columns=['species', 'height', 'weight', 'base_happiness', 'babies'])
info

           species         height         weight base_happiness babies
0             Seed           10.0         304.25           70.0      0
1           Lizard            6.0           85.0           70.0      0
2            Flame           13.8          499.0           63.0      0
3      Tiny Turtle            5.0           90.0           70.0      0
4           Turtle           10.0          225.0           70.0      0
5        Shellfish  11.3333333333  458.333333333           70.0      0
6             Worm            3.0           32.5           70.0      0
7           Cocoon            6.5          103.5           70.0      0
8        Butterfly           10.5          302.0           70.0      0
9        Hairy Bug            3.0           32.0           70.0      0
10      Poison Bee           10.0          295.0           70.0      0
11       Tiny Bird  2.66666666667  19.3333333333           70.0      0
12            Bird           13.0          347.5           70.0      0
13           Mouse  6.33333333333  165.833333333           70.0      0
14            Beak           12.0          380.0           70.0      0
15           Snake           20.0           69.0           70.0      0
16           Cobra           35.0          650.0           70.0      0
17      Poison Pin            6.5         138.75           70.0      0
18           Drill           17.5         1312.0           70.0      0
19           Fairy           9.75          260.0          105.0      0
20             Fox            8.5          149.0           70.0      0
21         Balloon            5.4           47.2           70.0      1
22             Bat           11.5          349.0           70.0      0
23            Weed            6.5           70.0           70.0      0
24          Flower  7.66666666667  94.6666666667           70.0      0
25        Mushroom  6.16666666667  150.166666667           70.0      0
26          Insect           10.0          300.0           70.0      0
27     Poison Moth           13.5          220.5           70.0      0
28            Mole            4.0          142.0           70.0      0
29     Scratch Cat            4.0           42.0           70.0      0
..             ...            ...            ...            ...    ...
445       Freezing           26.0         2600.0           70.0      0
446  Crystallizing           11.0         1480.0           70.0      0
447          Snail            4.0           77.0           70.0      0
448      Shell Out            8.0          253.0           70.0      0
449           Trap            7.0          110.0           70.0      0
450   Martial Arts           11.5          277.5           70.0      0
451      Automaton           19.0         2110.0           70.0      0
452    Sharp Blade            5.0          102.0           35.0      0
453    Sword Blade           16.0          700.0           35.0      0
454   Bash Buffalo           16.0          946.0           70.0      0
455         Eaglet            5.0          105.0           70.0      0
456        Valiant           15.0          410.0           70.0      0
457       Diapered            5.0           90.0           35.0      0
458   Bone Vulture           12.0          395.0           35.0      0
459       Anteater           14.0          580.0           70.0      0
460       Iron Ant            3.0          330.0           70.0      0
461          Irate            8.0          173.0           35.0      0
462          Torch           11.0          288.0           70.0      0
463      Iron Will           21.0         2500.0           35.0      0
464         Cavern           19.0         2600.0           35.0      0
465      Grassland           20.0         2000.0           35.0      0
466        Cyclone           15.0          630.0           90.0      0
467    Bolt Strike           15.0          610.0           90.0      0
468     Vast White           32.0         3300.0            0.0      0
469     Deep Black           29.0         3450.0            0.0      0
470      Abundance           15.0          680.0           90.0      0
471       Boundary           30.0         3250.0            0.0      0
472           Colt           14.0          485.0           35.0      0
473         Melody            6.0           65.0          100.0      0
474      Paleozoic           15.0          825.0            0.0      0

[475 rows x 5 columns]